---
component: head
---
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <title>{{ title }}</title>
  <link type="text/css" rel="stylesheet" href="{{assets}}/css/master.css" media="screen">
</head>
