<!-- title -->
{{> infinite-header }}

<div class="container">
<div class="panel panel-docs panel-clear">
{{#markdown}}
    {{> body }}
{{/markdown}}
</div>
</div>

<script>
	var trim = 'dest';
	var page = '{{ dirname }}'.substring(trim.length) + '/{{ filename }}';
	ga('send', 'pageview', page);
</script>
