<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

<!-- Navbar -->
{{> navbar }}

{{!-- Page content --}}
<div class="container">
<div class="panel panel-docs panel-clear">

{{#markdown}}
  {{> body }}
{{/markdown}}

</div>
</div>

{{!-- Scripts --}}
{{> scripts}}

{{!-- Analytics --}}
{{> analytics }}

</body>
</html>