body {
  font-family: Arial, "MS Trebuchet", sans-serif;
  color: #333333;
  line-height: 1.72em;
  margin: 1.72em;
  text-align: center;
}

.container, header {
  max-width: 900px;
  margin: auto;
  text-align: left;
}

header {
  margin-bottom: 2.4em;
  padding-bottom: 1.2em;
  border-bottom: 4px dashed #999;
}

header h1 {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: #0066FF;
}

h2, h2 a, h2 a:link {
  cursor: default;
  color: #333333;
}

blockquote {
  border-left: 10px solid #CCC;
  margin-left: 0;
  padding-left: 2em;
}

img {
  max-width: 100%;
  height: auto;
  background-color: #ccc;
}

img, iframe, .shadow {
  -moz-box-shadow:    3px 3px 8px 2px #ccc;
  -webkit-box-shadow: 3px 3px 8px 2px #ccc;
  box-shadow:         3px 3px 8px 2px #ccc;
}

.banner img {
  border-radius: 5px;
}

.more-work .container h1 {
  margin: 1.2em 0 1.2em 0;
  padding: 1.2em 0 1.2em 0;
  border-top: 4px dashed #999;
  border-bottom: 4px dashed #999; 
}